.mensaje {
    max-inline-size: 900px;
    margin: auto;
    padding-block-start: 40px;
    padding-block-end: 40px;
    text-align: center;
}

.mensaje p:first-child {
    font: 24px/39px var(--fontSecondary);
    margin-block-start: 0;
    margin-block-end: 0;
}

.mensaje p:nth-of-type(2) {
    font: var(--bodyMensaje2);
}

@media screen and (min-width:768px) {
    .mensaje {
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .mensaje p:first-child {
        font: var(--bodyMensaje);
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .mensaje p:nth-of-type(2) {
        font: var(--bodyMensaje2);
    }
}